
@media (max-width: 1260px){

    .footer__link{
        font-size: 18px;
    }
    .footer-main-col{
        margin-left: 74px;
    }
}

@media (max-width: 1100px){

    .footer__title{
        font-size: 20px;
    }

}
@media (max-width: 1011px){

    .footer-main-col{
        margin-left: 30px;
    }
    .content-img{
        margin-top: 0;
    }
}

@media (max-width: 950px){
    .footer-container{
        flex-wrap: wrap;
    }
    .footer-main-col, .footer-logo{
        margin-top: 25px;
    }
}

@media (max-width: 900px){
    .footer-container{
        flex-wrap: wrap;
    }
    .footer-main-col, .footer-logo{
        margin-top: 25px;
    }

}

@media (max-width: 776px){

    .footer-container{
        justify-content: space-between;
    }
    .contacts-left{
        width: 100%;
    }
    .footer-main-col{
        margin-left: 0;
        min-width: 250px;
    }
}
@media (max-width: 560px){

    .footer-container{
        flex-direction: column;
        justify-items: center;
    }
    .footer-main-col{
        margin-left: 0;
        text-align: left;
        min-width: 250px;
    }

}
